<!doctype html>
<html>

<head>
    <title>Create Post</title>
    <link rel="stylesheet" type="text/css" href="/css/createPost.css">
</head>

<body>
    <script src="/js/createPost.js"></script>
    <script src="./server/controller/socialMediaController.js"></script>
    <form action="http://localhost:1337/home">
        <input type="text" id="title" placeholder="Title">
        <input type="text" id="content" placeholder="Content">
        <br>
        <input type="submit" button onclick="createPost()">
    </form>
</body>

</html>