<!doctype html>
<html>

<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
  <!-- <iframe id="myFrame" src="/"></iframe>
  <p id="demo"></p> -->
  <!--Red box-->

  <!-- Choose from list of accounts -->
  <div class="container">
    <p>Hello! Choose an account.</p>
      <div id="users"></div>
  </div>

  <script src="/js/index.js"></script>

  <!-- <div class="box">
    <h1>Sign In</h1>
    <form name="loginForm" action="http://localhost:1337/" onsubmit="return validateForm()" method="get">
      <div class="container">
        <input type="text" name="user" placeholder="Username" required> 
        <br>
        <br>
        <input type="password" name="password" placeholder="Password" required>
        <br>
        <br>
        <br>
        <input type="button" id="loginbutton">Login</input>
        <br>
        <br>
        <a href="#" class="f-p">Forgot Password?</a>
      </div>
    </form>
    <br>
    <div class="hl">
      <div class="hl-circle">OR</div>
    </div>
    <br>
    <button onclick="clickFunction()">Sign Up</button>
    <br>
    <br>
    <div class="social-media">
      <a href="#" class="fa fa-facebook">Facebook</a>&nbsp;&nbsp;&nbsp;
      <a href="#" class="fa fa-google">Google</a>&nbsp;&nbsp;&nbsp;
      <a href="#" class="fa fa-twitter">Twitter</a>
    </div>
  </div> -->
  
</body>

</html>